.carousel-container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  position: relative;
}

.carousel-slide {
  width: 100%;
  overflow: hidden;
}

.carousel-image {
  width: 820px;
  height: 400px;
  object-fit: cover;
  border-radius: 10px; /* Bordes redondeados */
}

.carousel-controls {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}

.carousel-prev,
.carousel-next {
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  font-size: 2rem;
  padding: 0.5rem;
  cursor: pointer;
  border-radius: 50%; /* Botones redondeados */
  transition: background-color 0.3s;
}

.carousel-prev:hover,
.carousel-next:hover {
  background: rgba(0, 0, 0, 0.8);
}

.card-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin-top: 1rem;
}

.card {
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card img {
  width: 100%;
  height: auto;
}

.card p {
  margin: 0.5rem 0;
  font-size: 1rem;
  color: #333;
}

