/* Estilos para TextLeft y TextRight */

.text-left,
.text-right {
  display: flex;
  flex-direction: column; /* Apilar elementos verticalmente */
  justify-content: center; /* Centrar verticalmente */
  align-items: center; /* Centrar horizontalmente */
  width: 20%; /* Puedes ajustar el ancho */
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: 1.2rem;
  padding: 1rem;
  border: 2px solid red; /* Este borde es solo para debug */
  position: relative;
  height: 100%; /* Se asegura de que tome el 100% de la altura de su contenedor */
}
/* Estilos específicos para TextLeft y TextRight en Register */
.register-container .text-left,
.register-container .text-right {
  background-color: #20750a; /* Cambia el fondo solo para la vista de registro */
  color: #000; /* Ajusta el color del texto si es necesario */
  border-color: #ff0000; /* Opcional: Cambia el borde */
}

/* Asegura que el contenedor del formulario ocupe el alto completo */
.auth-container {
  display: flex;
  align-items: center; /* Cambié stretch por center para evitar el estiramiento no deseado */
  justify-content: center;
  height: 100%;
  gap: 13rem; /* Asegura que ocupe toda la altura disponible */
}

.form-action-btn {
  transition: all 0.1s ease-in-out;
}

.form-action-btn:hover {
  cursor: pointer;
  border-radius: 1.5rem;
  background-color: #bee4db;
  border-color: #00684a;
  color: #00684a;
}

.form-action-btn:active {
  background-color: #3b977d;
  color: #fff;
}

/* Asegurarse de que los elementos de formulario están alineados de manera uniforme */
form {
  display: flex;
  flex-direction: column; /* Hace que los elementos del formulario se alineen verticalmente */
  gap: 1.5rem; /* Espacio uniforme entre los campos */
  width: 100%;
  max-width: 400px; /* Ancho máximo para el formulario */
  margin: 0 auto; /* Centrar el formulario */
}

/* Asegurarse de que los campos de entrada ocupen todo el ancho y estén alineados */

/* Estilo del botón */

/* Estilo para los enlaces */
.link {
  color: #007bff;
  cursor: pointer;
}

.link:hover {
  text-decoration: underline;
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: 10px;
}
