/* Estilos generales */
.calendar-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 100vh;
  padding: 20px;
  gap: 20px;
}

.action-btn:hover {
  cursor: pointer;
  border-color: #3b977d;
  background-color: #fff;
}

.action-btn:active {
  background-color: #3b977d;
  color: #fff;
}

/* Formulario a la izquierda */
.form-container {
  width: 25%;

  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.form-container h2 {
  text-align: center;
}




/* Calendario en el centro */
.calendar-box {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  height: 500px;

  padding: 20px;
  border-radius: 10px;
}

/* Lista de reuniones a la derecha */
.meeting-list {
  width: 25%;
  padding: 20px;
  border-radius: 10px;
}

.meeting-list h2 {
  text-align: center;
}

.meeting-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  overflow-y: auto; /* Habilitar scroll si hay demasiadas tarjetas */
  max-height: 400px; /* Ajusta la altura máxima si lo deseas */
}

.meeting-card {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.meeting-card:hover {
  transform: scale(1.05);
}

.meeting-card.expanded {
  background-color: #e0f7fa;
  transform: scale(1.1);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.meeting-card h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.meeting-card p {
  font-size: 14px;
  color: #555;
}
